svg {
  margin: 0 auto;
  display: block;
}
.tick line{
  stroke: #ceb79b;
  stroke-dasharray: 8,6;
}

.tooltip{
  opacity: 0;
  position: absolute;
  background-color: rgba(219, 235, 206, 0.849);
  pointer-events: none;
  padding: 4px 10px;
  border-radius: 9px;
}

.tooltip::before{
  content: " ";
  position: absolute;
  top: -25px;
  left: 48%;
  border: 12px solid transparent;
  border-bottom-color: teal;
  margin-left: -6px;
}